@media screen and (max-width:600px) {

   .web-section {
      padding: 45px 5px 25px 5px;
   }

   .web-section h2 {
      margin-bottom: 20px;
   }


  #list-of-bios img{
      width: 200px;
      margin: 20px 0;
  }

}





@media screen and (max-width:500px) {
   h2 {
      font-size: 50px;
   }

   #mobilepfont {
      font-size: 17px;
   }

   .contact h2 {
      font-size: 58px;
      margin: 0 10px 20px 10px;
   }

   .contact .regular-text {
      font-size: 24px;
   }

   #inner-contact {
      padding: 0;
   }

   #inner-contact ul {
      margin: 0;
   }

   #inner-contact li {
      margin: 0;
   }
}





@media screen and (max-width: 375px) {
   h2 {
      font-size: 48px;
   }

   .web-section h2 {
      font-size: 42px;
   }

   #mobilepfont {
      font-size: 14px;
   }

   .contact h2 {
      font-size: 48px;
   }

   .contact {
      font-size: 20px;
   }

   #contact {
      width: 80%;
      padding: 5px;
   }


}
