
/* Global CSS */

body {
    color: black;
    background: white;
    font-family: 'Courier New', Courier, monospace Neue, Arial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h2 {
   color: black;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 80px;
   padding: 0;
   margin: 0;
}

h3 {
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

img {
   height: 200px;
   display: block;
   margin: auto;
   opacity: 1;
}

ul{
    text-align: center;
}

a {
    text-decoration: none;
    margin: 0 23px;
    padding: 0;
    color: black;
}





/* NAVIGATION BAR AND SHOWCASE IMAGE */

header {
   display: flex;
   flex-direction: column;
}

.nav-bar {
   background: white;
   display: flex;
   justify-content: center;
   margin: 0;
   width: 100%;
   height: 55px;
   padding: 10px 0 25px 0;
   box-shadow: 0 5px 100px black;
   position: fixed;

}

.nav-bar ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-bar li {
    justify-content: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.nav-bar a:hover {
    color: rgb(37, 94, 213);
    border-bottom: 3px solid rgb(37, 94, 213);
    padding-bottom: 3px;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

.nav-active {
    transform: translateY(0%);
    opacity: 1.0;
}



/* SHOWCASE IMAGE AND TEXT*/

#about h2 {
   font-size: 50px;
   text-shadow: 1px 1px 10px rgb(200, 200, 200);
}

section.image{
    background: url('../images/kart2grad1.jpg')
    repeat fixed 100%;
    background-size: cover;
    height: 800px;
    margin-bottom: 0;
}

div.logo{
   margin: 0 auto 0 auto;
   padding: 150px 0 0 0;
}

div.logo img{
   opacity: 1.0;
}

#socials ul{
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    padding: 22% 0 0 0;
    list-style: none;
    justify-content: center;

}

#socials li{
    margin: 0 5%;
    border-color: white;
}



/* TEAM SECTION */

section.description {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 115px 7%;
}

section.team {
    background-color: rgb(37, 94, 213);
    color: white;
    color: white;
    padding: 100px 7% 140px 7%;
}

section.description h2 {
    text-shadow: 1px 1px 10px rgb(200, 200, 200);
}

section.team h2 {
    color: white;
    margin-bottom: 65px;
    text-shadow: 1px 1px 10px rgb(40, 40, 40);
}

#list-of-bios {
    display: flex;
    justify-content: center;
}

#bio {
    background-color: rgb(22, 76, 180);
    border: 4px solid white;
    box-shadow: 1px 1px 10px rgb(70, 70, 70);
    padding: 25px 29px 25px 20px;
    border-radius: 10px;
    width: 500px;
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

#bio li {
   margin-top: 5px;
   font-size: 20px;
   text-align: left;
   list-style: circle;
}


#bio img {
    margin-bottom: 10px;
    border-radius: 15px;
}

article {
    font-size: 30px;
    font-weight: bold;
}




section.image2{
    background: url('../images/kart3.jpg')
    repeat fixed 100%;
    background-size: cover;
    height: 700px;
    margin-bottom: 0px;
}

/* SPONSOR SECTION */


section.container.sponsor {
    background-color: white;
    margin: 90px 7% 115px 7%;
}

section.container.sponsor h2 {
    text-shadow: 1px 1px 10px rgb(200, 200, 200);
    margin-bottom: 125px;
}

#inner-sponsor {
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: white;
   margin-bottom: 0px;
}

#sponsor {
  width: 37%;
  margin: 0 8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#sponsor p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#carellos {
    width: 120%;
    height: 120px;
    margin: 0 0 35px 4%;
    padding: 0;
}

#question
{
    margin-top: -10%;
}


/* CONTACT SECTION */

.contact h2 {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    text-shadow: 1px 1px 10px rgb(40, 40, 40);
 }

#contact {
    box-sizing: border-box;
    text-align: center;
    width: 60%;
    border-radius: 10px;
    margin: 10px 20px 20px 20px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 25px rgb(50, 50, 50);
}

section.container.contact{
    background-color: rgb(37, 94, 213);
    padding: 80px 0;
}

#inner-contact {
   display: flex;
   flex-direction: row;
   justify-content: center;
   border-radius: 10px;
   background-color: rgb(37, 94, 213);
}

ul.contact{
    list-style: none;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}

.regular-text {
   text-decoration: underline;
}



/* FOOTER */

footer {
    background: silver;
    color:  white;
    padding:0 100px;
    text-align: center;
}

footer #socials {
   padding: 0;
   margin: 0;
}

footer #socials-list{
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    padding: 0;
    margin: ;
    list-style: none;
    justify-content: center;
}

footer #socials-list li{
    margin: 0 10%;
    border-color: white;
}

#socials img{
   height: 50px;
   margin: 0;
   padding: 0;
}

/*  MOBILE VERSION */

@media screen and (max-width:1000px)
{
    img{
        width: 150%;
        height: 150%;
    }

    #list-of-bios img{
        width: 50%;
        height: 50%;
    }

    #list-of-bios img{
        width: 50%;
        height: 50%;
    }


}

@media screen and (max-width:700px)
{
    body{
        overflow-x: visible;
    }

    img{
        width: 150%;
        height: 150%;
    }

    .nav-bar {
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-links{
        position: absolute;
        margin: 0;
        padding: 20px 0;
        right: 0px;
        width: 100%;
        top: 62%;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-2000%);
        justify-items: end;
        opacity: 0;
    }

    .nav-links li {
        margin-top: 15px;
    }

    .burger{
        margin-top: 2px;
        margin-right: 17px;
        display: block;
    }

    section.description {
      padding: 0;
    }

    #list-of-bios {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #bio {
        width: 85%;
    }
}
