
/* Global CSS */

body {
    color: black;
    background: white;
    font-family: 'Courier New', Courier, monospace Neue, Arial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h2 {
   color: black;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 80px;
   padding: 0;
   margin: 0;
}

h3 {
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding: 0;
    margin: 0; 
}

img {
   height: 200px;
   display: block;
   margin: auto;
   opacity: 1;
}

ul{
    text-align: center;
}

a {
    text-decoration: none;
    margin: 0 23px;
    padding: 0;
    color: black;
}





/* NAVIGATION BAR AND SHOWCASE IMAGE */

header {
   display: flex;
   flex-direction: column;
}

.nav-bar {
   background: white;
   display: flex;
   justify-content: center;
   margin: 0;
   width: 100%;
   height: 55px;
   padding: 10px 0 25px 0;
   box-shadow: 0 5px 100px black;
   position: fixed;

}

.nav-bar ul{
    display: flex;
    justify-content: center;

    list-style: none;
}

.nav-bar li {
    justify-content: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(37, 94, 213);
    border-bottom: 3px solid rgb(37, 94, 213);
    padding-bottom: 3px;
}

.currentLink {
   color: rgb(37, 94, 213) !important;
   border-bottom: 3px solid rgb(37, 94, 213);
   padding-bottom: 3px;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

/*   MOBILE VERION  */

@media screen and (max-width:700px)
{
    body{
        overflow-x: hidden;
    }

    img{
        width: 150%;
        height: 150%;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 300%;
        width: 100%;
        top: 60%;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        justify-items: end;
    }
    .nav-links{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

@media screen and (max-width:1000px)
{
    img{
        width: 150%;
        height: 150%;
    }

    #list-of-bios img{
        width: 50%;
        height: 50%;
    }

    #list-of-bios img{
        width: 50%;
        height: 50%;
    }


}

.nav-active {
    transform: translateX(0%);
}



/* SHOWCASE IMAGE AND TEXT*/

#about h2 {
   font-size: 50px;
}

section.image{
    background: url('../images/kart2.jpg')
    repeat fixed 100%;
    background-size: cover;
    height: 900px;
    margin-bottom: 0;
}

div.logo{
   margin: 130px auto 0 auto;
   padding: 30px 0 10px 0;
   width: 40%;
}

div.logo img{
   opacity: 1.0;
}






/* TEAM SECTION */

section.description {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 115px 7%;
}

section.team {
    background-color: rgb(37, 94, 213);
    color: white;
    color: white;
    padding: 80px 7%;
}

section.team h2 {
    color: white;
    margin-bottom: 45px;
}

#list-of-bios {
    display: flex;
    justify-content: center;
}

#bio {
    width: 37%;
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

/*#bio {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 33%;
    margin: 0 2%;
}
*/
#bio img {
    margin-bottom: 10px;
    border-radius: 15px;
}

article{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

ul.bio{
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: circle;
}




section.image2{
    background: url('../images/kart3.jpg')
    repeat fixed 100%;
    background-size: cover;
    height: 700px;
    margin-bottom: 0px;
}

/* SPONSOR SECTION */


section.container.sponsor {
    background-color: white;
    margin: 90px 7% 115px 7%; 
}

section.container.sponsor h2 {
    margin-bottom: 125px;
}

#inner-sponsor {
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: white;
   margin-bottom: 0px;
}

#sponsor {
  width: 37%;
  margin: 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#sponsor p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#carellos {
    width: 80%;
    height: 120px;
    margin: 0 0 35px 4%;
    padding: 0;
}

#sabelt {
    height: 120px;
    width: 50%;
    margin: 0 0 35px 0;
    padding: 0;
}


/* CONTACT SECTION */


h2.contact{
    background-color: rgb(37, 94, 213);
}

#contact {
    box-sizing: border-box;
    text-align: center;
    width: 80%;
    border-radius: 10px;
    margin: 10px 50px 20px 50px;
    background-color: silver;
}

section.container.contact{
    background-color: rgb(37, 94, 213);
}

#inner-contact {
   display: flex;
   flex-direction: row;
   justify-content: center;
   border-radius: 10px;
   background-color: rgb(37, 94, 213);
}

ul.contact{
    list-style: none;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    text-decoration: underline;
}


form{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 50px 0px 50px;
    padding: 20px;
    color: white;
}

/* Style inputs with type="text", select elements and textareas *
input[type=text], select, textarea, input[type=email]{
    width: 100%; /* Full width *
    padding: 12px /* Some padding *
    border: 1px solid #ccc; /* Gray border *
    border-radius: 0px; /* Rounded borders *
    box-sizing: border-box; /* Make sure that padding and width stays in place *
    margin-top: 6px; /* Add a top margin *
    margin-bottom: 16px; /* Bottom margin *
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) *
  }

/* Style the submit button with a specific background color etc *
button {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(37, 94, 213);
  }

  /* When moving the mouse over the submit button, add a darker green color *
button:hover {
    background-color: blueviolet;
  }

  * Add a background color and some padding around the form *
  .container {
    background-color: #f2f2f2;
  } */

/* FOOTER */

footer {
    background: silver;
    color:  white;
    padding: 10px 40px;
    margin-bottom: 0;
}

footer {
    text-align: center;
}
