
/* Global CSS */

body {
    color: black;
    background: white;
    font-family: 'Courier New', Courier, monospace Neue, Arial;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}

h2 {
   color: black;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 80px;
}

img {
   height: 400px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   

}
ul{
    text-align: center;
}
a {
    text-decoration: none;
    margin: 0 23px;
    padding: 0;
    color: black;
}

/* NAVIGATION BAR AND SHOWCASE IMAGE */


.nav-bar {
   display: block;
   margin: 0;
   background: white;
   width: 100%;
   height: 55px;
   padding: 10px 50px;
   box-shadow: 0 5px 100px black;
   position: fixed;
}

.nav-bar li {
    color: black;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: silver;
    text-decoration: none;
}



/* SHOWCASE IMAGE AND TEXT*/

#about h2 {
   font-size: 50px;
   margin: 15px 0 0 0;
}
section.image{
    background: url('../images/car.jpg')
    repeat fixed 100%;
    background-size: cover;
    height: 900px;
    margin-bottom: 100px;
}

/* TEAM SECTION */

section.description {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 10% 10% 10% 10%;
}

section.team {
    background-color: silver;
    background-size: cover;
}

#bio {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 33%;
    padding: 0px 0px 0px 0px;
    margin-bottom: 50px;
}
ul.bio{
    text-align: left;
}




section.image2{
    background: url('../images/car5.jpg')
    repeat fixed 100%;
    background-size: cover;
    height: 700px;
    margin-bottom: 100px;
}

/* SPONSOR SECTION */


section.sponsor {
    padding: 0px 10px 10px 10px;
}

#sponsor {
    display: inline-block;
    box-sizing: border-box;
    border-style: dotted;
    text-align: center;
    width: 33%;
    margin-top:1px;
    padding: 0px 0px 0px 0px;
}

/* CONTACT SECTION */


section.contact {
    padding: 0px 10px 10px 10px;
    align-self: center;
    width: 53%
}

footer {
    background: silver;
    color:  white;
    padding: 10px 40px;
    margin-bottom: 0;
}

footer {
    text-align: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(80, 106, 255;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(80, 106, 255;
  }

  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
