/* SHOWCASE IMAGE AND TEXT*/

section.image {
    text-align: center;
    color: white;
    font-size: 34px;
    margin: 0;
    opacity: 0.93;
}

#about {
    color: black;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    background: white;
    opacity: 1;
    align-self: center;
    justify-content: center;
    padding: 10px 30px;
    margin: 230px 60% 0 8%;
    border-radius: 6px;
    box-shadow: 10px 10px 60px rgb(35, 35, 35);
}

background: url('../images/car.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 1000px;
margin-bottom: 100px;
